body {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contentWrap{
    display:none;
}

#primaryNav{
    font-size: x-large;
    font: bolder;
}
.error {
    color:red;
}

.whisper {
    color: gray;
    font-style: italic;
}

.loaded-msgs {
    font-style: italic;
}

.card-footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 9%;
}